[Unit]
Description=OSSEC HIDS hybrid (local agent)
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/ossec-init.conf
Environment=DIRECTORY=/var/ossec

ExecStart=/usr/bin/env ${DIRECTORY}/ossec-agent/bin/ossec-control start
ExecStop=/usr/bin/env ${DIRECTORY}/ossec-agent/bin/ossec-control stop
TimeoutStartSec=120
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
