language: c

env:
  - DB=mysql OSSEC_TYPE=server GEOIP=yes
  - DB=mysql OSSEC_TYPE=server GEOIP=no
  - DB=none OSSEC_TYPE=server GEOIP=yes
  - DB=none OSSEC_TYPE=server GEOIP=no
  - DB=mysql OSSEC_TYPE=all GEOIP=yes
  - DB=mysql OSSEC_TYPE=all GEOIP=no
  - DB=none OSSEC_TYPE=all GEOIP=yes
  - DB=none OSSEC_TYPE=all GEOIP=no
  - DB=none OSSEC_TYPE=agent

compiler:
  - clang
  - gcc

before_script:
  - if [[ "$DB" == "mysql"  ]]; then ( cd src && make setdb  ); fi
  - if [[ "$GEOIP" == "yes"  ]]; then ( wget http://www.maxmind.com/download/geoip/api/c/GeoIP-1.4.8.tar.gz ); fi
  - if [[ "$GEOIP" == "yes"  ]]; then ( tar xzvf GeoIP-1.4.8.tar.gz  ); fi
  - if [[ "$GEOIP" == "yes"  ]]; then ( sudo apt-get install libtool  ); fi
  - if [[ "$GEOIP" == "yes"  ]]; then ( cd GeoIP-1.4.8 && libtoolize && ./configure  && make && sudo make install  ); fi
  - if [[ "$GEOIP" == "yes"  ]]; then ( cd src && make setgeoip ); fi



script: 
  - ( cd src && make $OSSEC_TYPE )
