Source: ossec-hids-agent
Section: admin
Priority: extra
Maintainer: Santiago Bassett <santiago.bassett@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), linux-libc-dev, libssl-dev, libevent-dev, libpcre2-dev, zlib1g-dev
Standards-Version: 3.8.4
Homepage: http://www.ossec.net

Package: ossec-hids-agent
Architecture: any
Depends: ${shlibs:Depends}, debconf, libc6 (>= 2.7)
Conflicts: ossec-hids
Description: OSSEC Agent - Host Based Intrusion Detection System
 OSSEC HIDS for log analysis, integrity checking, rootkits detection and
 active response. This package includes the server and the agent.
