[Unit]
Description=OSSEC Maild
PartOf=ossec-server.target
Before=ossec-agentless.service ossec-analysisd.service ossec-csyslog.service ossec-dbd.service ossec-execd.service ossec-logcollector.service ossec-monitord.service ossec-remoted.service ossec-syscheckd.service

[Service]
EnvironmentFile=/etc/ossec-init.conf
Environment=DIRECTORY=/var/ossec

ExecStartPre=/usr/bin/env ${DIRECTORY}/bin/ossec-maild -t
ExecStart=/usr/bin/env ${DIRECTORY}/bin/ossec-maild -f
