[Unit]
Description=OSSEC Syslog client
PartOf=ossec-server.target
After=ossec-analysisd.service ossec-dbd.service ossec-execd.service ossec-logcollector.service ossec-maild.service ossec-monitord.service ossec-remoted.service ossec-syscheckd.service

[Service]
EnvironmentFile=/etc/ossec-init.conf
Environment=DIRECTORY=/var/ossec

ExecStartPre=/usr/bin/env ${DIRECTORY}/bin/ossec-csyslogd -t
ExecStart=/usr/bin/env ${DIRECTORY}/bin/ossec-csyslogd -f
